#app .navbar-bg {
	background-color: #22c15e !important;
}

#app li.active a {
	background-color: #22c15e !important;
}

#app .page-item.active .page-link {
border-color: #22c15e !important;
}

#app .btn-info, .btn-info.disabled {
border-color: #22c15e !important;
background-color: #22c15e !important;
box-shadow: #22c15e !important;
}

#app .btn-primary, .btn-primary.disabled {
border-color: #22c15e !important;
background-color: #22c15e !important;
box-shadow: #22c15e !important;
}

#app .card.card-success {
    border-top: 2px solid #22c15e;
}

#app .btn-outline-info {
    color: #22c15e;
    background-color: transparent;
    background-image: none;
    border-color: #22c15e;
}